body {
    position: relative;
    background: $mainDark;
    color: $mainLight;
}

// The preloader curtain
.curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $mainDark;
    color: $mainLight;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    // The rotating loading image
    .imgContainer.loading {
        animation: rotateSelf 2s linear infinite;
        width: 10vw;
        height: 10vw;
        min-width: 100px;
        min-height: 100px;
        img {
            border-radius: 50%;
        }
    }
    // Hide the error messages until needed
    .loadError {
        display: none;
    }
    // Font size
    p {
        font-size: 1rem;
    }
}

// Header styling
header {
    padding: 30px 0 #{30px + $cardEdge} 0;
    h1 {
        text-align: center;
        text-shadow: 4px 4px 0 $mainAccent;
        font-size: 2.5rem;
    }
}

// Anchor tag styling
a {
    position: relative;
    color: $secondaryAccent;
}

// Makes an underline that stretches across on hover/focus
a::before {
    content:'';
    position: absolute;
    background: $mainAccent;
    display: block;
    width: 0%;
    height: 4px;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
    border-radius: 2px;
}

a:hover::before,
a:focus::before {
    width: 100%;
}

// List styling for action box and item box
ul {
    padding-left: 20px;
    i {
        color: $mainAccent;
    }
    .fa-check-square {
        color: $secondaryAccent;
    }
}

ul.itemBox {
    text-transform: capitalize;
}

// Flex row
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: $columnSpace;
    .column {
        width: calc(50% - #{$columnSpace} / 2 );
        .imgContainer {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            img {
                position: absolute;
                height: 100%;
                width: 100%;
                animation: fadeIn 1s linear forwards;
            }
        }
    }
}

// Styling for the main section
main {
    h2 {
        margin-bottom: 15px;
    }
    p {
        margin: 15px 0;
        animation: fadeIn 1s linear forwards;
    }
    .lastAction {
        font-weight: bold;
    }
    .actionBox, .itemBox{
        padding: 0;
        li {
            list-style: none;
        }

    }
}

// Footer
footer {
    // min-height: 5vh;
    margin: #{30px + $shadow + $cardEdge} 0 30px 0;
    p {
        text-align: center;
    }
}