// Widen the wrapper and reduce h1 font size
@media (max-width: 800px) {
    .wrapper {
        width: calc(100% - #{2*$columnSpace});
    }
    header h1 {
        font-size: 2rem;
    }
}

// Reorganize everything into a single column
@media (max-width: 600px) {
    .row {
        flex-wrap: wrap;
        .column {
            width: 100%;
            margin: $columnSpace 0;
        }
    }
}