// stripping styles
h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

// Base fonts
html {
    font-size: 125%;
}

// Wrapper
.wrapper {
    margin: 0 auto;
    width: 75%;
    max-width: 800px;
}