
// Colour scheme
$mainDark: #110011;
$mainLight: #eeffee;
$mainAccent: #ff3333;
$secondaryAccent: #ffdd33;

// Wrapper sizing
$wrapperWidth: 90%;
$wrapperMaxWidth: 800px;

// Typical spacing between columns and other spaces
$columnSpace: 20px;

// Size of the shadow effect
$shadow: 10px;

// How far the main card extends beyond game content
$cardEdge: 15px;