@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-size: 0.9rem;
  line-height: 1.6;
  font-family: "Literata", serif;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: "Trade Winds", cursive;
}

.shadowRight {
  box-shadow: 10px 10px 0 #ff3333;
}

.cardBackground {
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: -15px;
  z-index: -10;
  background: #160016;
}

.box {
  border: 4px solid #ff3333;
  padding: 10px;
}

.reverse.row {
  flex-direction: row-reverse;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateSelf {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
body {
  position: relative;
  background: #110011;
  color: #eeffee;
}

.curtain {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #110011;
  color: #eeffee;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
}
.curtain .imgContainer.loading {
  animation: rotateSelf 2s linear infinite;
  width: 10vw;
  height: 10vw;
  min-width: 100px;
  min-height: 100px;
}
.curtain .imgContainer.loading img {
  border-radius: 50%;
}
.curtain .loadError {
  display: none;
}
.curtain p {
  font-size: 1rem;
}

header {
  padding: 30px 0 45px 0;
}
header h1 {
  text-align: center;
  text-shadow: 4px 4px 0 #ff3333;
  font-size: 2.5rem;
}

a {
  position: relative;
  color: #ffdd33;
}

a::before {
  content: "";
  position: absolute;
  background: #ff3333;
  display: block;
  width: 0%;
  height: 4px;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
  border-radius: 2px;
}

a:hover::before,
a:focus::before {
  width: 100%;
}

ul {
  padding-left: 20px;
}
ul i {
  color: #ff3333;
}
ul .fa-check-square {
  color: #ffdd33;
}

ul.itemBox {
  text-transform: capitalize;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.row .column {
  width: calc(50% - 20px / 2 );
}
.row .column .imgContainer {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.row .column .imgContainer img {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: fadeIn 1s linear forwards;
}

main h2 {
  margin-bottom: 15px;
}
main p {
  margin: 15px 0;
  animation: fadeIn 1s linear forwards;
}
main .lastAction {
  font-weight: bold;
  color: #ffdd33;
}
main .actionBox {
  padding: 0;
}
main .actionBox li {
  list-style: none;
}
main .actionBox li span {
  color: #eeffee;
}

footer {
  margin: 55px 0 30px 0;
}
footer p {
  text-align: center;
}

@media (max-width: 800px) {
  .wrapper {
    width: calc(100% - 40px);
  }

  header h1 {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .row {
    flex-wrap: wrap;
  }
  .row .column {
    width: 100%;
    margin: 20px 0;
  }
}
